{% extends 'base.html.twig' %}

{% block body %}
    <div id="PlayerWrapper">
        <ul id="PlayList">
            {% for episode in episodes %}
                <li class="EpisodeItem" data-nb="{{ episode.number }}" data-mp3="{{ episode.mp3 }}">
                    <span class="EpisodeItem-title">{{ episode.title }}</span>

                    {% if episode.category is not empty %}
                        <span class="EpisodeItem-category">{{ episode.category }}</span>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ url('app.api.episode.get_one', {'episode': episode.id}) }}">edit</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <div id="Player">
            {# Title of the current episode #}
            <div id="Player-currentEpisode"></div>

            {# Visual information about duration #}
            <div id="Player-progressBar">
                <div id="Player-currentTime" class="time">0:00</div>
                <div id="Player-maxTime" class="time">0:00</div>
                <div id="Player-duration"></div>
            </div>

            {# Player's controls #}
            <div id="PlayerControls">
                <div id="PlayerControls-prev" class="button"></div>
                <div id="PlayerControls-playpause" class="button play"></div>
                <div id="PlayerControls-next" class="button"></div>
                <div id="PlayerControls-loop" class="button">loop</div>
                <div id="PlayerControls-shuffle" class="button">shuffle</div>
            </div>
        </div>
    </div>

    <div id="ResultWrapper"></div>

    {% include 'layout/social_share.html.twig' %}
{% endblock %}
