{% extends 'base.html.twig' %}

{% block body %}
<div id="PlayerWrapper">
    <ul id="EpisodeList">
        {% set class = 'EpisodeItem' %}

        {% for episode in episodes %}
            {# Set first episode active by default #}
            {% if loop.first %}
                {% set class = class ~ ' active' %}
            {% endif %}

            <li class="{{ class }}" data-nb="{{ episode.number }}">
                <a href="{{ episode.mp3 }}">
                    <span class="TrackItem-title">{{ episode.title }}</span>
                    <span class="TrackItem-category">{{ episode.category }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>

    <div id="Player">
        <div id="Player-progressBar">
            <div id="currentTime" class="time">0:00</div>
            <div id="maxTime" class="time">0:00</div>
            <div id="duration"></div>
        </div>

        <div id="Player-controls">
            <div id="prev"></div>
            <div id="playpause" class="play"></div>
            <div id="next"></div>
            <div id="loop"></div>
            <div id="shuffle"></div>
        </div>
    </div>

    {% include 'layout/social_share.html.twig' %}
</div>
{% endblock %}
