<aside id="SocialShare">
    <a href="#SocialShare">
        <img alt="Social share buttons" src="{{ asset('images/share.svg') }}" width="20" height="20" id="share-button">
    </a>

    {# Facebook button #}
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ url('homepage') }}" title="Partager sur Facebook" id="facebookButton" target="_blank">
        <img src="{{ asset('images/facebook.svg') }}" width="30" height="30" alt="Partager sur Facebook"/>
    </a>

    {# Twitter button #}
    <a href="https://twitter.com/home?status={{ url('homepage') }}" title="Partager sur Twitter" id="twitterButton" target="_blank">
         <img src="{{ asset('images/twitter.svg') }}" width="30" height="30" alt="Partager sur Twitter"/>
    </a>

    {# Google+ button #}
    <a href="https://plus.google.com/share?url={{ url('homepage') }}" title="Partager sur Google+" id="googleButton" target="_blank">
         <img src="{{ asset('images/google.svg') }}" width="30" height="30" alt="Partager sur Google+"/>
     </a>
</aside>